* {
    margin: 0 ;
    padding:0 ;
    box-sizing: border-box;
}

:root {
    --color-neutral: #d7d2cc ;
    --color-neutral-bluer: #958f88 ;
    --font-color: #fff;
    --font-color2: #ffffffbb ;
}

body {
    min-height: 100%;
    background-color: var(--color-neutral);
    
    display: flex;
    flex-direction: column;
    
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

.search {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--color-neutral);
}

.container {
    padding: 19px 26px;
}

.input-wrapper {
    display: flex;
    align-items: center;
    position: relative;
}
 
#city-input {
    background: transparent;
    border : none ;
    border-bottom: 1px solid var(--font-color);
    color: var(--font-color2);
    outline: none;
}

#city-input:focus {
    border-color: var(--font-color2);
}

#city-input::placeholder {
    color: var(--font-color2) ;
} 

#search-button {
    background: transparent;
    border: none;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%)
}

#search-butto img {
    width: 12px;
    height: 10px;
}

.info-box {
    position: relative;
}

.info-box .details-wrapper {  /* para o background mudar */
    backdrop-filter: blur(10px);
}